.App{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  width: 100%;
}

.App h1{
  margin: 20px;
  color: rgb(148,54,11);
}

.input-para{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-para span{
  font-size: 25px;
}

.input-para input{
  width: 50px;
  margin: 0 10px;
  font-size: 20px;
  padding: 2px 2px 2px 5px;
}

.paragraphs{
  font-size: 20px;
  max-width: 1000px;
  color: rgb(153,67,10);
  padding: 0 5%;
}

.paragraphs p{
  margin: 40px 10px;
}


@media screen and (max-width: 800px) {
  .App h1{
    font-size: 25px;
  }  
}

